<p-breadcrumb [model]="items"></p-breadcrumb>
<body class="bg-gray-900 p-8 opacity-90">
  <div *ngIf="showUpdateForm" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-md max-w-md w-full">
      <h2 class="text-2xl font-semibold mb-4 text-gray-700">Update User</h2>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="space-y-4">
        <div>
         
          <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
          <input
            id="username"
            formControlName="username"
            type="text"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-600">Email:</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-600">Password:</label>
          <div class="flex items-center">
            <input
              id="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="ml-2 text-blue-500"
            >
              {{ showPassword ? 'Hide' : 'Show' }}
            </button>
            
            <label for="role" class="block ml-5 text-sm font-medium text-gray-600">Role:</label>
            <select id="role" formControlName="role">
               <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>

          </div>
        

        </div>
        <div class="flex space-x-4">
          <p-button
            label="Update User"
            icon="pi pi-save"
            [disabled]="!updateForm.valid"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 disabled:opacity-50"
            type="submit"
          ></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            (click)="closeUpdateForm()"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400"
            type="button"
          ></p-button>
        </div>
      </form>
    </div>
  </div>

  <!-- Add User Modal -->
  <div *ngIf="showAddForm" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-md max-w-md w-full">
      <h2 class="text-2xl font-semibold mb-4 text-gray-700">Add New User</h2>
      <form [formGroup]="addForm" (ngSubmit)="onAddUser()" class="space-y-4">
        <div>
          <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
          <input
            id="username"
            formControlName="username"
            type="text"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-600">Email:</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-600">Password:</label>
          <div class="flex items-center">
            <input
              id="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="ml-2 text-blue-500"
            >
              {{ showPassword ? 'Hide' : 'Show' }}
            </button>

            <label for="role" class="block ml-5 text-sm font-medium text-gray-600">Role:</label>
            <select id="role" formControlName="role" class="ml-5">
               <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          
        </div>

        <div class="flex space-x-4">
          <p-button
            label="Add User"
            icon="pi pi-user-plus"
            [disabled]="!addForm.valid"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 disabled:opacity-50"
            type="submit"
          ></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            (click)="closeAddForm()"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400"
            type="button"
          ></p-button>
        </div>
      </form>
    </div>
  </div>

  <!-- User List -->
  <h2 class="text-2xl font-semibold mb-4 text-white text-center">User List</h2>
  
  <!-- Add Search Bar -->
  <div class="mb-4 flex ml-1 items-center">
    <!-- Add User Button -->
    <p-button
      label="Add User"
      icon="pi pi-plus"
      (click)="openAddForm()"
      class="bg-green-500 text-white rounded-md hover:bg-green-600 p-2  "
      ngstyle="height: 38px; flex-shrink: 0;"
    ></p-button>

    <!-- Search Bar -->
    <div class="flex-grow ml-4">
      <label for="search" class="block text-sm font-medium text-white text-center"></label>
      <input
        type="text"
        id="search"
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
        class="w-full px-3 py-2 border rounded-md focus:outline-none bg-white focus:ring-2 focus:ring-blue-500"
        placeholder="Search by Username"
        style="height: 38px;"
      />

      
    </div>
    <div class="flex ml-2 items-center">
      <p-button
      label="Sort by Username"
      icon="pi pi-sort-alpha-up"
      (click)="sortUsers('username')"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
    ></p-button>
    <p-button
      label="Sort by Email"
      icon="pi pi-sort-alpha-up"
      (click)="sortUsers('email')"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
    ></p-button>
    <p-button
      label="Sort by Role"
      icon="pi pi-sort-alpha-up"
      (click)="sortUsers('role')"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
    ></p-button>
    </div>

  
</div>
  

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg">
      <thead class="bg-sky-900">
        <tr>
          <th class="text-left px-6 py-3 font-medium text-white uppercase ">Username</th>
          <th class="text-left px-6 py-3 font-medium text-white uppercase ">Email</th>
          <th class="text-left px-6 py-3 font-medium text-white uppercase ">Role</th>
          <th class="px-6 py-3 font-medium text-white uppercase">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers" class="hover:bg-gray-100">
          <td class="px-6 py-4 border-b border-gray-200">{{ user.username }}</td>
          <td class="px-6 py-4 border-b border-gray-200">{{ user.email }}</td>
          <td class="px-6 py-4 border-b border-gray-200">{{ user.role }}</td>
          <td class="px-6 py-4 border-b border-gray-200">
            <p-button
              label="Edit"
              icon="pi pi-pencil"
              (click)="openUpdateForm(user.id)"
              class="bg-yellow-500 text-white px-3 py-1 rounded-md hover:bg-yellow-600 mr-2"
            ></p-button>
            <p-button
              label="Delete"
              icon="pi pi-trash"
              (click)="deleteUser(user.id)"
              class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600"
            ></p-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
