<body>

  <!-- Main Content Wrapper with Background Image -->
  <div class="min-h-screen flex justify-center items-center bg-cover bg-center">
    <div class="max-w-md w-full p-6 bg-sky-900 bg-opacity-75 rounded-lg shadow-lg">
      <!-- Login Form Section -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid space-y-4 p-10">

        <!-- Username Field -->
        <div class="p-field">
          <label for="username" class="text-white text-lg">Username</label>
          <input 
            id="username"
            type="text"
            formControlName="username"
            placeholder="Enter your username"
            [ngClass]="{ 'p-invalid': f['username'].invalid && f['username'].touched }"
            class="p-inputtext p-component w-full p-2 p-border-round focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
          <small *ngIf="f['username'].invalid && f['username'].touched" class="p-error text-red-500 text-sm">
            Username is required or must be at least 3 characters long
          </small>
        </div>

        <!-- Password Field -->
        <div class="p-field">
          <label for="password" class="text-white text-lg">Password</label>
          <p-password 
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            [toggleMask]="true"
            [feedback]="false"
            [ngClass]="{ 'p-invalid': f['password'].invalid && f['password'].touched }"
            class="p-password p-component w-full p-border-round focus:outline-none focus:ring-2 focus:ring-blue-400"
          ></p-password>
          <small *ngIf="f['password'].invalid && f['password'].touched" class="p-error text-red-500 text-sm">
            Password is required or must be at least 6 characters long
          </small>
        </div>
        <!-- Submit Button -->
          <button
            type="submit"
            pButton
            label="Login"
            icon="pi pi-sign-in"
            [disabled]="loginForm.invalid"
            class="text-center w-full p-3 rounded-md bg-gray-300 text-sky-900 mt-5 hover:bg-sky-600 hover:text-white disabled:bg-gray-500"
          ></button>

        <!-- Back to Home Link -->
        <div class="text-center">
        <a routerLink="/" class="hover:bg-sky-700 text-white mt-5 inline-block text-center transition-colors duration-300">Back to Home</a>
      </div>
      </form>
    </div>
  </div>
</body>
