<div class="min-h-screen flex justify-center items-center">
  <div class="max-w-md w-full  p-10 bg-sky-900 bg-opacity-75 rounded-lg shadow-lg">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center text-2xl p-2 font-semibold mb-6 text-white">Register</h2>

      <!-- Username Field -->
      <div class="mb-4">
        <label for="username" class="block font-bold text-white">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter your username" class="w-full bg-white p-2 mt-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
        <p-message *ngIf="f['username'].invalid && f['username'].touched" severity="error" text="Username is required or must be at least 3 characters long"></p-message>
      </div>

      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block font-bold text-white">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email" class="w-full  bg-white p-2 mt-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
        <p-message *ngIf="f['email'].invalid && f['email'].touched" severity="error" text="Email is required or must be a valid email address"></p-message>
      </div>

      <!-- Password Field -->
      <div class="p-field">
        <label for="password" class="text-white text-lg">Password</label>
        <p-password 
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [toggleMask]="true"
          [style]="{'width': '100%'}"
          [feedback]="false"
          [ngClass]="{ 'p-invalid': f['password'].invalid && f['password'].touched }"
          class="p-password w-full p-border-round focus:outline-none focus:ring-2 focus:ring-blue-400"
        ></p-password>
        <small *ngIf="f['password'].invalid && f['password'].touched" class="p-error text-red-500 text-sm">
          Password is required or must be at least 6 characters long
        </small>
      </div>

      <div class="mb-4">
        <button type="submit" 
        pButton
        label="Register"
        icon="pi pi-user-plus"
        class="text-center w-full p-3 rounded-md bg-gray-300 text-sky-900 mt-5 hover:bg-sky-600 hover:text-white disabled:bg-gray-500"
         [disabled]="registerForm.invalid">
         
        </button>
      </div>

      <div class="text-center">
        <a routerLink="/" class="hover:bg-sky-700 text-white mt-5 inline-block text-center transition-colors duration-300">Back to Home</a>
      </div>
    </form>
  </div>
</div>
